* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --main-color: #f6e231;
  --secod-color: #2a2929;
  --white-color: #f2f2f2;
  --fon-size: 18px;
  --max-width: 1400px;
  --nav-heigt: 70px;
}

::selection {
  background-color: var(--main-color);
  color: var(--secod-color);
}

body {
  background-color: var(--secod-color);
  color: var(--white-color);
  font-family: "mon";
}

header {
  display: flex;
  background-color: var(--main-color);
  color: var(--secod-color);
  
  position: fixed;      
  width: 100%;          
  top: 0;               
  z-index: 1000;        



}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;

}

nav {
  height: var(--nav-heigt);
}

.nav-container {
  display: flex;
  align-items: center;
}

.enlace {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  margin-right: 20px;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.vh-100 {
  height: calc(100vh - var(--nav-heigt));
}

.text-center {
  text-align: center;
}

.contenedor-texto {
  flex-basis: 45%;
}

.titulo {
  font-size: 3rem;
  font-weight: 700;

}

.parrafo {
  margin: 20px 0;
  font-weight: 350;
  font-size: 1.2rem;
}

.boton {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--secod-color);
  text-decoration: none;
  font-weight: 700;
  padding: 16px 30px;
  border-radius: 30px;
}

.boton--negro {
  background-color: var(--secod-color);
  color: var(--white-color); 
}

html {
  scroll-behavior: smooth;
}





.contenedor-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card__item{
  max-width: 350px;
  width: 30%;
  background-color: var(--white-color);
  color: var(--secod-color);
  text-align: center;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card__plan{
  color: var(--secod-color);
  margin-bottom: 20px;
}

.card__precio{
  font-size: 3rem;
  color: var(--secod-color);
  margin-bottom: 20px;
}

.card__caracteristica {
  color: var(--secod-color);
  margin: 25px;
}

.card__item--activo {
  background-color: var(--main-color);
}




.galeria {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img {
  width: 30%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 30px;
}



.contacto {
  display: flex;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: var(--fon-size);
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
}